<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.geekview.analysisSystem.entity.dao.TdreamTbProjectMapper">
  <resultMap id="BaseResultMap" type="cn.geekview.analysisSystem.entity.model.TdreamTbProject">
    <id column="pk_id" jdbcType="INTEGER" property="pkId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="original_id" jdbcType="VARCHAR" property="originalId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_desc" jdbcType="VARCHAR" property="projectDesc" />
    <result column="project_url" jdbcType="VARCHAR" property="projectUrl" />
    <result column="project_image" jdbcType="VARCHAR" property="projectImage" />
    <result column="project_video" jdbcType="VARCHAR" property="projectVideo" />
    <result column="project_qrcode" jdbcType="VARCHAR" property="projectQrcode" />
    <result column="begin_date" jdbcType="TIMESTAMP" property="beginDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="project_status" jdbcType="VARCHAR" property="projectStatus" />
    <result column="status_value" jdbcType="INTEGER" property="statusValue" />
    <result column="focus_count" jdbcType="INTEGER" property="focusCount" />
    <result column="support_person" jdbcType="INTEGER" property="supportPerson" />
    <result column="money_currency" jdbcType="VARCHAR" property="moneyCurrency" />
    <result column="target_money" jdbcType="DECIMAL" property="targetMoney" />
    <result column="curr_money" jdbcType="DECIMAL" property="currMoney" />
    <result column="finish_per" jdbcType="INTEGER" property="finishPer" />
    <result column="remain_day" jdbcType="INTEGER" property="remainDay" />
    <result column="person_name" jdbcType="VARCHAR" property="personName" />
    <result column="person_image" jdbcType="VARCHAR" property="personImage" />
    <result column="person_desc" jdbcType="VARCHAR" property="personDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    pk_id, update_date, original_id, project_name, project_desc, project_url, project_image, 
    project_video, project_qrcode, begin_date, end_date, project_status, status_value, 
    focus_count, support_person, money_currency, target_money, curr_money, finish_per, 
    remain_day, person_name, person_image, person_desc
  </sql>
  
  <resultMap extends="BaseResultMap" id="ViewResultMap" type="cn.geekview.analysisSystem.entity.model.TdreamTbProject">
  	<result column="product_enabled" jdbcType="INTEGER" property="productEnabled" />
  	<result column="category_name" jdbcType="VARCHAR" property="categoryName" />
  	<collection javaType="list" ofType="cn.geekview.analysisSystem.entity.model.TdreamTbItem" property="itemList">
	    <result column="item_price" jdbcType="DECIMAL" property="itemPrice" />
	    <result column="item_support" jdbcType="INTEGER" property="itemSupport" />
	    <result column="item_total" jdbcType="INTEGER" property="itemTotal" />
  	</collection> 
  </resultMap>
  
   <insert id="insertProduct" parameterType="cn.geekview.analysisSystem.entity.model.TdreamTbProject" >
    insert into t_dream_product (
      website, original_id, product_name, product_desc, product_url, 
      product_image, product_video, product_qrcode, 
      product_begin, product_end, 
      forever_status,product_status, status_value,  product_enabled,
      person_name,person_image, person_desc, remain_day,
      like_count,share_count,create_date,update_date,update_user)
    values (1, #{originalId,jdbcType=VARCHAR},#{projectName,jdbcType=VARCHAR}, #{projectDesc,jdbcType=VARCHAR}, #{projectUrl,jdbcType=VARCHAR}, 
      #{projectImage,jdbcType=VARCHAR}, #{projectVideo,jdbcType=VARCHAR}, #{projectQrcode,jdbcType=VARCHAR}, 
      #{beginDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      0 ,#{projectStatus,jdbcType=VARCHAR},#{statusValue,jdbcType=INTEGER}, 1,
      #{personName,jdbcType=VARCHAR}, #{personImage,jdbcType=VARCHAR}, #{personDesc,jdbcType=VARCHAR},#{remainDay,jdbcType=INTEGER},
       0 ,0 ,#{updateDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP},#{categoryName,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateProduct" parameterType="cn.geekview.analysisSystem.entity.model.TdreamTbProject" >
     update t_dream_product
    <set>
      <if test="projectName != null">
        product_name = #{projectName,jdbcType=TIMESTAMP},
      </if>
      <if test="projectUrl != null">
        product_url = #{projectUrl,jdbcType=TIMESTAMP},
      </if>
      <if test="projectDesc != null">
        product_desc = #{projectDesc,jdbcType=TIMESTAMP},
      </if>
      <if test="projectImage != null">
        product_image = #{projectImage,jdbcType=TIMESTAMP},
      </if>
      <if test="projectVideo != null">
        product_video = #{projectVideo,jdbcType=TIMESTAMP},
      </if>
      <if test="projectQrcode != null">
        product_qrcode = #{projectQrcode,jdbcType=TIMESTAMP},
      </if>
      <if test="personName != null">
        person_name = #{personName,jdbcType=TIMESTAMP},
      </if>
      <if test="personImage != null">
        person_image = #{personImage,jdbcType=TIMESTAMP},
      </if>
      <if test="personDesc != null">
        person_desc = #{personDesc,jdbcType=TIMESTAMP},
      </if>
      <if test="beginDate != null">
        product_begin = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        product_end = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="projectStatus != null">
        product_status = #{projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="statusValue != null">
        status_value = #{statusValue,jdbcType=INTEGER},
      </if>
      <if test="remainDay != null">
        remain_day = #{remainDay,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP}
      </if>
    </set>
    where original_id = #{originalId,jdbcType=INTEGER}
    and website = 1
  </update>
</mapper>